.chartHeader {
    display: flex;
    justify-content: space-between;
}

.chartName {
    font-size: 18px;
    font-weight: 700;
}

.actionChart {
    display: flex;
    column-gap: 5px;
}

.chartInfo {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
}

.optionChart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}