.campaign-page {
  padding: 8px 0px 16px 0px;
  margin-right: 44px;
}

.campaign-page .campaign-title {
  font-size: 18px;
  font-weight: bold;
}

.campaign-page .media-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #cbd2d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  gap: 8px;
}

.campaign-page .campaign-code {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  color: #1c2b33;
}

.campaign-page .update-ago {
  font-size: 14px;
  color: #1c2b33;
}

.campaign-page .content-wrapper {
  position: relative;
  /* width: 100%; */
  height: 100%;
  padding: 8px 4px 0px 4px;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(241, 244, 247);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campaign-page .tab {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 12px;
  background: #f9fbfc;
  min-width: 260px;
  font-weight: bold;
  color: #1c2b33;
  border-radius: 8px 8px 0px 0px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0;
  cursor: pointer;
}

.campaign-page .tabActive {
  height: 45px;
  background: white;
  color: #0a78be;
}

.campaign-page .tabActive svg {
  width: 24px;
  height: 24px;
}

.campaign-page .btn-action {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #1c2b33;
  line-height: 18px;
}

.campaign-page .btn-hight-light {
  border: 1px solid #0a78be;
}

.campaign-page .btn-ghost {
  font-weight: 500;
  border: none;
}

.campaign-page .btn-action:hover {
  background: rgba(167, 179, 191, 0.2);
}

.campaign-page .divider-campaign {
  background: rgb(218, 221, 225);
  width: 1px;
  height: 20px;
}

.campaign-page .tv-wrapper {
  padding: 3px;
  border-radius: 100%;
  background: #f1f4f7;
  border: 1px solid rgb(218, 221, 225);
}

.campaign-page .btn-create {
  background: #007e59;
  color: white;
  border-color: #007e59;
}

.campaign-page .btn-create:hover {
  background: #006b4e;
  border-color: #006b4e;
}

.campaign-page .divider-button-action {
  background: rgb(218, 221, 225);
  width: 1px;
  height: 36px;
}

.campaign-page .export-btn {
  border-radius: 4px 0px 0px 4px;
}

.campaign-page .export-more-btn {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

/*VIEW CHART*/
.view-chart-container {
  width: calc(100vw - 56px);
}

.view-chart-wrapper {
  display: flex;
  margin-left: 44px;
}

.view-chart-menu {
  min-width: 360px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.list-menu {
  margin-top: 8px;
}

.list-menu .menu-btn {
  padding: 0px 8px 0px 12px;
  background: white;
  cursor: pointer;
  height: 48px;
  display: flex;
  align-items: center;
}

.list-menu .menu-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* .menu-btn .menu-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-width: 0;
  width: 100%;
  color: #1c2b33;
} */

.list-menu .active-menu {
  background: #e1edf7;
}

/*END VIEW CHART*/
