.campain-page .campaign-title {
  font-size: 18px;
  font-weight: bold;
}

.campain-page .media-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #cbd2d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.campain-page .update-ago {
  font-size: 14px;
  color: #1c2b33;
}

.campain-page .content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 4px 0px 4px;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(241, 244, 247);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campain-page .tab {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 12px;
  background: #f9fbfc;
  min-width: 260px;
  font-weight: bold;
  color: #1c2b33;
  border-radius: 8px 8px 0px 0px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px 0;
  cursor: pointer;
}

.campain-page .tabActive {
  height: 45px;
  background: white;
  color: #0a78be;
}

.campain-page .tabActive svg {
  width: 24px;
  height: 24px;
}

.campain-page .btn-action {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #1c2b33;
  line-height: 18px;
}

.campain-page .btn-ghost {
  font-weight: 500;
  border: none;
}

.campain-page .btn-action:hover {
  background: rgba(167, 179, 191, 0.2);
}

.campain-page .divider-campaign {
  background: rgb(218, 221, 225);
  width: 1px;
  height: 20px;
}
