.campaign-page {
  padding: 8px 3px 16px 3px;
  margin-right: 44px;
}

.campaign-page .header-campaign {
  padding: 0px 8px;
}

.campaign-page .campaign-title {
  font-size: 18px;
  font-weight: bold;
}

.campaign-page .media-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #cbd2d9;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  gap: 8px;
}

.campaign-page .campaign-code {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  color: #1c2b33;
}

.campaign-page .update-ago {
  font-size: 14px;
  color: #1c2b33;
}

.campaign-page .content-wrapper {
  position: relative;
  /* width: 100%; */
  height: 100%;
  padding: 8px 4px 0px 4px;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(241, 244, 247);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campaign-page .tab {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 12px;
  background: #f9fbfc;
  min-width: 260px;
  font-weight: bold;
  color: #1c2b33;
  border-radius: 8px 8px 0px 0px;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0;
  cursor: pointer;
}

.campaign-page .tabActive {
  height: 45px;
  background: white;
  color: #0a78be;
}

.campaign-page .tabActive svg {
  width: 24px;
  height: 24px;
}

.campaign-page .btn-action {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #1c2b33;
  line-height: 18px;
}

.campaign-page .btn-hight-light {
  border: 1px solid #0a78be;
}

.campaign-page .btn-ghost {
  font-weight: 500;
  border: none;
}

.campaign-page .btn-action:hover {
  background: rgba(167, 179, 191, 0.2);
}

.campaign-page .divider-campaign {
  background: rgb(218, 221, 225);
  width: 1px;
  height: 20px;
}

.campaign-page .tv-wrapper {
  padding: 3px;
  border-radius: 100%;
  background: #f1f4f7;
  border: 1px solid rgb(218, 221, 225);
}

.campaign-page .btn-create {
  background: #007e59;
  color: white;
  border-color: #007e59;
}

.campaign-page .btn-create:hover {
  background: #006b4e;
  border-color: #006b4e;
}

.campaign-page .divider-button-action {
  background: rgb(218, 221, 225);
  width: 1px;
  height: 36px;
}

.campaign-page .export-btn {
  border-radius: 4px 0px 0px 4px;
}

.campaign-page .export-more-btn {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

/*VIEW CHART*/
.view-chart-container {
  width: calc(100vw - 72px);
}

.edit-chart-container {
  width: calc(100vw - 56px);
}

.view-chart-wrapper {
  display: flex;
  margin-left: 44px;
}

.view-chart-menu {
  width: 360px;
  min-height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.list-menu {
  margin-top: 8px;
}

.list-menu .menu-btn {
  padding: 0px 8px 0px 12px;
  background: white;
  cursor: pointer;
  height: 46px;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
}

.list-menu .menu-label {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.menu-btn .menu-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  min-width: 0;
  width: 100%;
  color: #1c2b33;
  font-size: 14px;
  font-family: Optimistic Display, system-ui, sans-serif;
}

.list-menu .active-menu {
  background: #e1edf7;
  border-left: 2px solid #0a78be;
}

.view-chart-wrapper .right-chart-content {
  width: 100%;
  background: radial-gradient(
      103.89% 81.75% at 95.41% 106.34%,
      #eaf8ef 6%,
      rgba(234, 248, 239, 0) 79.68%
    ),
    radial-gradient(
      297.85% 151.83% at -21.39% 8.81%,
      #faf1f1 0%,
      #faf1f1 15.29%,
      #f3edf5 21.39%,
      #e5f0fa 40.79%
    );
}

.right-chart-content .status {
  background: #007e59;
  width: 12px;
  height: 12px;
  border-radius: 8px;
}

.right-chart-content .chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px 24px 24px;
  background-attachment: scroll;
  height: calc(100vh - 40px);
  overflow-y: auto;
}

.right-chart-content .chart-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 24px 24px 24px;
  height: calc(100vh - 130px);
  overflow-y: auto;
}

.right-chart-content .chart-wrapper {
  max-width: 1208px;
}

.right-chart-content .chart-edit-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-chart-content .top-chart {
  margin-top: 24px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.right-chart-content .chart-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-chart-content .chart-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.right-chart-content .chart-info {
  display: flex;
}

.right-chart-content .chart-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-chart-content .right-chart-info {
  height: 100%;
  border-left: 1px solid #dadde1;
  padding: 12px;
  background: #f7fbfc;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-chart-content .topchart-info {
  font-size: 14px;
  font-weight: 700;
  color: #1c2b33;
  line-height: 18px;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;

  flex: 1;
}

.right-chart-content .topchart-info:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.right-chart-content .info-active {
  border-color: rgb(131, 200, 192);
}

.right-chart-content .info-count {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  color: #1c2b33;
}

.right-chart-content .turn-on-btn {
  padding: 8px 16px;
  background: #0a78be;
  font-size: 14px;
  color: white;
  width: fit-content;
  border-radius: 4px;
}

.right-chart-content .turn-on-btn:hover {
  cursor: pointer;
  opacity: 0.95;
}

.right-chart-content .tab-btn {
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1c2b33;
  line-height: 20px;
  font-family: Optimistic Display, system-ui, sans-serif !important;
}

.right-chart-content .tab-btn-active {
  color: #0a78be;
  background: #e1edf7;
  font-weight: bold;
}

.right-chart-content .tab-btn:hover {
  cursor: pointer;
  background: rgba(167, 179, 191, 0.2);
}

.right-chart-content .bread-btn {
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
}

.right-chart-content .bread-btn-active {
  background: #e1edf7;
}
/*END VIEW CHART*/

/*ADSET EDIT */
.right-chart-content .edit-adset-section {
  background: white;
  border-radius: 4px;
  padding: 16px;
  width: 568px;
}

.right-chart-content .adset-title {
  font-size: 16px;
  font-weight: bold;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 20px;
}

.right-chart-content .conversion-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
}

.right-chart-content .conversion-location:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.right-chart-content .conversion-location:hover .conversion-edit-btn {
  display: block;
}

.right-chart-content .conversion-title {
  font-size: 14px;
  font-weight: bold;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 20px;
}

.right-chart-content .conversion-des {
  font-size: 14px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 20px;
}

.right-chart-content .conversion-edit-btn {
  display: none;
}

.right-chart-content .des-little {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #465a69;
  line-height: 18px;
}

.right-chart-content .disable-input {
  padding: 8px 12px;
  background: #f1f4f7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #1c2b3399;
  border: 1px solid #cbd2d9;
  line-height: 20px;
  font-family: Optimistic Display, system-ui, sans-serif !important;
  cursor: no-drop;
}

.right-chart-content .des-link {
  font-size: 14px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #0a78be;
  line-height: 18px;
}

.right-chart-content .des-link:hover {
  text-decoration: underline;
}

.right-chart-content .start-date {
  border-radius: 4px 0px 0px 4px;
  width: 100%;
  justify-content: flex-start;
}

.right-chart-content .start-date-left {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  width: 100%;
  justify-content: flex-start;
}

.right-chart-content .audience-control {
  display: flex;
  gap: 8px;
  margin-top: 32px;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
  border-left: 2px solid #0a78be;
}

.right-chart-content .lower-cost {
  display: flex;
  gap: 8px;
  margin-top: 16px;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 1px 0 rgba(0, 0, 0, 0.1);
  border-left: 2px solid #4dbba6;
}

.right-chart-content .create-audience {
  margin-top: 32px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right-chart-content .create-audience-tab {
  border-bottom: 3px solid #0a78be;
  margin-left: 8px;
  padding: 0px 8px 8px 8px;
  font-size: 14px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 18px;
  font-weight: bold;
}

.right-chart-content .use-audience-tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  font-size: 14px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 18px;
}

.right-chart-content .des-title-small {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  font-weight: bold;
  color: #77797c;
  line-height: 18px;
}

.right-chart-content .list-placement {
  border: 1px solid #dadcde;
  margin-top: 4px;
}

.right-chart-content .placement-name {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  font-weight: bold;
  color: #444950;
  line-height: 15px;
}

.right-chart-content .placement-des {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33a6;
  line-height: 15px;
  padding: 0px 32px 4px 36px;
}

.right-chart-content .placement-child-name {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #5b5c5e;
  line-height: 15px;
  padding-left: 40px;
}

.right-chart-content .audience-small {
  font-size: 12px;
  font-family: Optimistic Display, system-ui, sans-serif;
  color: #1c2b33;
  line-height: 15px;
}

/*END ADSET EDIT */
